# =========================
# Python
# =========================

# __pycache__/
# *.py[cod]
# *$py.class

# Virtual environment
.venv/
venv/
env/

# Python packaging
# *.egg-info/
# dist/
# build/

# =========================
# Jupyter
# =========================

# .ipynb_checkpoints/

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# IDE / Editor
# =========================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json


# =========================
# Logs
# =========================

# *.log

# =========================
# Temporary files
# =========================

# *.tmp
# *.temp

# =========================
# ML / Data
# =========================

# # Data files
# data/
# datasets/

# # Generated outputs
# outputs/
# results/

# # Temporary audio files
# *.wav
# *.mp3
# *.m4a
# *.flac
/emotion_recognition/recorded.wav